@charset "UTF-8";

html{
    font-size: 100%;
    line-height: 1;
    scroll-behavior: smooth;
}

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #343535;
}

a{
    text-decoration: none;
    color: #343535;
    font-size: 1.5em;
}

a:hover{
    color: #64a5de;
}

img{
    width: 100%;
} 

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

h2{
    text-align: center;
    position: relative;
	font-size: 1.5em;
    line-height: 2.5em;
    margin: 50px auto;
}

h2:before{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	border-bottom: solid 10px #64a5de;
	transform: translateX(-50%);
	animation: border_anim 3s linear forwards;
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 90%;
	}
}

/*header*/

header{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    height: 60px;
}

.home-logo{
    height: 40px;
    width: auto;
    display: block;
    margin: auto 0 auto 50px;
    padding: 0;
}

.home-logo:hover{
    opacity: .6;
}

.main-nav{
    display: flex;
    list-style: none;
    margin-right: 50px;
}

.naviga{
    padding-left: 20px;
}

.naviga img{
    width: 22px;
    height: auto;
} 

/*gaiyou*/
.setumei{
    display: flex;
    justify-content: center;
    padding-bottom:120px;
}

.setumei img{
    width: 570px;
    height: auto;
}

.setumei p{
    text-align: center;
    margin: auto 0 auto 50px;
    line-height: 2em;
}

/*blue*/
.blue{
    background-color: #d4ecea;
    display: flex;
    justify-content: space-between;
    margin-bottom: 240px;
}
.blue img{
    width: 380px;
    height: auto;
}

.flex{
    display: flex;
    margin-top: 50px;
}
.flex span{
    font-weight: bold;
}

.left{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

/*syuruisetumei*/
.content{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.syasinn{
    width: 50%;
    height: auto;
    margin: 0;
    padding: 0;
}
.content p{
    font-weight: bold;
    font-size: 2.38em;
    margin: 0;
}

.daimei{
    font-size: 2.8em;
    margin-bottom: 55px;
}
.big{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}
.syuruisetumei{
    margin-bottom: 170px;
}
.syuruisetumei p{
    width: 80%;
    margin: auto;
}

/*animal*/
.animlcontent img , .animlcontent2 img{
    width: 300px;
    height: auto;
    border-radius: 50%;
}
.animlcontent{
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
}

.name{
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    justify-content: center;
    margin: 15px auto 50px auto;
}

.animlcontent2{
    display: flex;
    justify-content: space-around;
}
.animalsyoukai span{
    width: 4em;
    background-color: #64a5de;
    color: #fff;
    text-align: center;
    margin-right: 5px;
}
.animlcontent{
    margin-bottom: 0;
}


/*contact*/

#contact{
    margin-top: 170px;
}
form{
    margin-left:10%;
    margin-bottom: 170px;
}
.contact{
    margin: 20px 0;
}
form div{
    margin-bottom: 14px;
}

label{
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea{
    background: rgba(255,255,255,.7);
    border: 1px #343535 solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}

input[type="text"],
input[type="email"]{
    width: 100%;
    max-width: 240px;
}

textarea{
    width: 100%;
    max-width: 480px;
    height: 6rem;
}

input[type="submit"]{
    border:none;
    background-color: #a6d28f;
    cursor: pointer;
    line-height: 1;
    padding: 1em;
}
input[type="submit"]:hover{
    background-color: #d18ec7;
}

/*footer*/
footer{
    background-color: #d4ecea;
}

.footflex{
    height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.footnav{
    display: flex;
    justify-content: center;
    list-style: none;
}
.toiawase img{
    width: 180px;
    height: auto;
}

.toiawase address{
    font-style: normal;
    margin-bottom: 5px;
}

.foot{
    border-right: 1px solid #343535;
    padding: 0 20px;
}
.foot:last-of-type{
    border: none;
}

footer p{
    text-align: center;
}

.top__link {
    display: none;
  }
  
  .top__link.open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: #343535;
    background: #64a5de;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5;
    position: fixed;
    right: 20px;
    bottom: 80px;
    z-index: 500;
  }

/*----------モバイル版----------*/
@media (max-width: 768px){

    body{
        font-size: 14px;
    }
    .main-nav,.flex,.animlcontent, .animlcontent2,.footflex{
        flex-direction: column;
    }
    .home-logo{
        margin: 1.5em auto;
    }
    .naviga{
        padding-left: 0;
    }
    .setumei{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .setumei img{
        margin: auto;
        width: 100%;
    }
    .setumei p{
        margin: 10px auto;
    }
    .blue{
        width: 90%;
        flex-direction: column;
        margin: auto;
    }
    .blue img{
        width: 100%;
    }
    .left{
        margin: 10px;
    }
    .flex span{
        margin-bottom: 10px;
    }
    .content{
        flex-direction: column;
    }
    .daimei, .big p{
        margin: auto;
    }
    .big{
        margin: auto;
    }
    .daimei{
        margin-bottom: 5px;
    }

    .syasinn{
        margin: 10px auto;
    }
    .syuruisetumei{
        margin-bottom: 50px;
    }
   .syuruisetumei:first-of-type{
       margin-top: 100px;
   }
    .syuruisetumei img{
        width: 50%;
    }
    .animalsyoukai{
        margin: auto;
    }
    form{
        margin-left: 0;
    }
    footer{
        height: 300px;
        vertical-align: center;
    }
    .footflex{
        padding-top: 150px;
    }
    .footnav,.toiawase{
        margin: 20px auto;
    }
    .footnav{
        font-size: 0.75em;
    }
    footer p{
        margin-top:125px;
    }
    
    /*========= ナビゲーションのためのCSS ===============*/

#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
	top:-120%;
    left:0;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background:#d4ecea;
    /*動き*/
	transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    top: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
	list-style: none;
    text-align: center; 
}

#g-nav li a{
	color: #343535;
	text-decoration: none;
	padding:30px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
    font-size: 1.3em;
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
	top:10px;
	right: 10px;
	cursor: pointer;
    width: 50px;
    height:50px;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: #64a5de;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

}